.app {
  /* padding: 2% 8%; */
  /* background-color: gray; */
  height: 100vh;
  /* background-image: url("./bgImages/bg-weather.png"); */
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* background-position: center; */
}

/* FLEX */
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-around {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.gap-1 {
  gap: 3px;
}

.gap-2 {
  gap: 5px;
}

.gap-3 {
  gap: 7px;
}

.gap-4 {
  gap: 9px;
}

.gap-5 {
  gap: 11px;
}

/* PADDINGS */

.p-1 {
  padding: 1%;
}
.p-2 {
  padding: 3%;
}
.p-3 {
  padding: 5%;
}
.p-4 {
  padding: 7%;
}
.p-5 {
  padding: 9%;
}
/*  */
.px-1 {
  padding-left: 1%;
  padding-right: 1%;
}
.px-2 {
  padding-left: 3%;
  padding-right: 3%;
}
.px-3 {
  padding-left: 5%;
  padding-right: 5%;
}
.px-4 {
  padding-left: 7%;
  padding-right: 7%;
}
.px-5 {
  padding-left: 9%;
  padding-right: 9%;
}
/*  */
.py-1 {
  padding-top: 1%;
  padding-bottom: 1%;
}
.py-2 {
  padding-top: 3%;
  padding-bottom: 3%;
}
.py-3 {
  padding-top: 5%;
  padding-bottom: 5%;
}
.py-4 {
  padding-top: 7%;
  padding-bottom: 7%;
}
.py-5 {
  padding-top: 9%;
  padding-bottom: 9%;
}
/*  */
.pr-1 {
  padding-right: 1%;
}
.pr-2 {
  padding-right: 3%;
}
.pr-3 {
  padding-right: 5%;
}
.pr-4 {
  padding-right: 7%;
}
.pr-5 {
  padding-right: 9%;
}
/*  */
.pl-1 {
  padding-left: 1%;
}
.pl-2 {
  padding-left: 3%;
}
.pl-3 {
  padding-left: 5%;
}
.pl-4 {
  padding-left: 7%;
}
.pl-5 {
  padding-left: 9%;
}

/* MARGINS */

.m-1 {
  margin: 1%;
}
.m-2 {
  margin: 3%;
}
.m-3 {
  margin: 5%;
}
.m-4 {
  margin: 7%;
}
.m-5 {
  margin: 9%;
}
/*  */

.mt-1 {
  margin-top: 1%;
}
.mt-2 {
  margin-top: 3%;
}
.mt-3 {
  margin-top: 5%;
}
.mt-4 {
  margin-top: 7%;
}
.mt-5 {
  margin-top: 9%;
}

/* TYPOGRAPHY */

.color-white {
  color: white;
}

.font-xlarge {
  font-size: 140px;
}

.font-medium {
  font-size: 60px;
}

.font-small {
  font-size: 18px;
}

.font-weight-large {
  font-weight: 800;
}
.font-weight-medium {
  font-weight: 600;
}
.font-weight-small {
  font-weight: 400;
}
.font-weight-xsmall {
  font-weight: 200;
}
/*  */
.weatherSummary {
  margin-top: auto;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
    height: auto;
    /* background-repeat: repeat; */
  }
  .weatherInfo {
    position: relative;
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
  }

  .locationInput {
    position: absolute;
    left: 25%;
    margin: 0 auto;
    margin: auto;
    justify-self: center;
    width: 50% !important;
  }
}

@media (max-width: 576px) {
  .weatherSummary {
    gap: 12px;
    .currentCelsius {
      p {
        font-size: 64px;
      }
    }
    .currentCity {
      p {
        font-size: 32px;
      }
    }
    .currentDate {
      p {
        font-size: 12px;
      }
    }
    .currentIcon {
      font-size: 42px;
    }
  }
}
